@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #446144;
  /* background-color: #548f54; */
  background-color: #354135;
  /* background-color: #2a2e2a; */
  /* background-color: rgb(184, 227, 241); */
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}
